.contact__section {
  &__img {
    width: 370px;
    height: auto;
    margin-bottom: 40px;
    margin-right: 40px;
    border-top-left-radius: 40px;
  }
  &__h1 {
    width: 370px;
    text-align: center;
  }
}