.contact-section {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $color-darc-blue;
  width: 370px;
  color: $color-white;
  @media (max-width: $br-1000) {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-radius: 20px;
  }
  &__img {
    width: 370px;
    height: auto;
    margin: 40px 40px 40px 0;
    border-radius: 120px;
    @media (max-width: $br-1000) {
      width: 100vw;
    }
  }
  &__h1,
  &__p {
    width: 370px;
    text-align: center;
  }
  &__h3 {
    width: 370px;
    margin-left: 40px;
  }
  &__p {
    font-weight: 900;
    margin: 40px 0;
  }
  & a {
    color: $color-white;
    margin-left: 40px;
  }
  & li {
    margin-bottom: 20px;
  }
}
