$color-light-white: #f5f7fa;
$color-white: #ffffff;
$color-black: #000;
$color-darc-blue: #1e2939;

$br-1000: 1000px;

a {
  text-decoration: none;
  font-weight: 900;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.other-section,
.portfolio-section,
.education-section,
.about-me-section {
  margin: 0 20px 20px 20px;
}
