.body-conteiner {
  max-width: 1200px;
  background-color: $color-white;
  margin: 40px 131px 90px 40px;
  box-shadow: 10px -3px 100px $color-black;
  border: 0.1px solid $color-light-white;
  border-radius: 20px;
  @media (max-width: $br-1000) {
    max-width: 100vw;
    box-shadow: none;
    border: none;
    margin: 0;
  }
}
