.body-conteiner {
  &__main-container {
    display: flex;
    gap: 20px;
    background-color: $color-light-white;
    border-radius: 20px;
    @media (max-width: $br-1000) {
      flex-direction: column;
    }
  }
}
