.body-conteiner {
  &__main-container {
    display: flex;
    background-color: $color-light-white;
    max-width: 370px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
